

Body {
	Background-color:grey;
	font-family: georgia;
	background-image: url(jj.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	}
	
	
	<p> yes</P>
	
#wrap { width: 50%;
		border: 1px solid red;
		margin: 0 auto;
		}

header img {width: 30%;}

header {background-color:#cccccc;
		text-align: center;}

nav {Background-color:#281199;
	padding: 20px;
	text-align: center;
	
}

nav li {
	display: inline;
	
	padding: 20px;
}

nav a {
	color: white;
	margin-right: 10px;
	font-family: verdana;
	font-size: 20px;
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}



section {Background-color: white;
		padding: 30px;
		overflow: auto;
	}

h1 { color:#02f56b; }

div.box {width: 200px;
		height: 200px;
		background-color: orange;
		border: 10px solid black;
		padding: 10px;
		margin: 10 px;
		}




footer {background-color: #f57802;
		padding: 10px;
		text-align: center;
		color: white;
}


.officer {width: 30%;
		float: right;
	
	
}